@model Airport.ViewModels.SearchViewModel
@using Airport.Handlers;

<section class="offers">
    <div class="row">
        <div class="custom-filter col-xs-12 col-md-4">
            @using (Html.BeginForm(new { @class = "bg4 b-shd-common" }))
            {
                <div class="filter-item">
                    <a class="bold uppercase l1 collapsed" data-toggle="collapse" href="#filter1" role="button" aria-expanded="false" aria-controls="filter1">
                        Цена билета
                    </a>
                    <div class="collapse" id="filter1">
                        <div class="filter-item-values">
                            @Html.TextBoxFor(m => m.FilterCustom.MinCost, new { placeholder = "0", @class = "form-control input-bg" })
                        </div>
                        <div class="filter-item-values">
                            @Html.TextBoxFor(m => m.FilterCustom.MaxCost, new { placeholder = "10000", @class = "form-control input-bg" })
                        </div>

                    </div>
                </div>
                <div class="filter-item">
                    <a class="bold uppercase l1" data-toggle="collapse" href="#filter2" role="button" aria-expanded="true" aria-controls="filter2">
                        Авиакомпания
                    </a>
                    <div class="collapse show" id="filter2">
                        <div class="filter-item-values">
                            @Html.TextBoxFor(m => m.FilterCustom.AirlineId, new { placeholder = "Победа", @class = "form-control input-bg" })
                        </div>
                    </div>
                </div>
                <div class="filter-item">
                    <a class="bold uppercase l1 collapsed" data-toggle="collapse" href="#filter3" role="button" aria-expanded="false" aria-controls="filter3">
                        Модель самолета
                    </a>
                    <div class="collapse" id="filter3">
                        <div class="filter-item-values">
                            @Html.TextBoxFor(m => m.FilterCustom.AircraftModelId, new { placeholder = "Airbus A340-200", @class = "form-control input-bg" })
                        </div>
                    </div>
                </div>
                <div class="filter-item">
                    <a class="bold uppercase l1 collapsed" data-toggle="collapse" href="#filter4" role="button" aria-expanded="false" aria-controls="filter4">
                        Возвратный
                    </a>
                    <div class="collapse" id="filter4">
                        <div class="filter-item-values">
                            @Html.TextBoxFor(m => m.FilterCustom.Returnable, new { placeholder = "Да", @class = "form-control input-bg" })
                        </div>
                    </div>
                </div>
                <div class="filter-item">
                    <a class="bold uppercase l1 collapsed" data-toggle="collapse" href="#filter4" role="button" aria-expanded="false" aria-controls="filter4">
                        Отменяемый
                    </a>
                    <div class="collapse" id="filter3">
                        <div class="filter-item-values">
                            @Html.TextBoxFor(m => m.FilterCustom.Cancellble, new { placeholder = "Да", @class = "form-control input-bg" })
                        </div>
                    </div>
                </div>
                <div class="filter-buttons flex-row">
                    <button class="btn btn-sm btn-orange" type="submit">Применить</button>
                    <button class="btn btn-sm btn-white2" type="reset">Сбросить все</button>
                </div>
            }
        </div>
        <div class="col-xs-12 col-md-8">
            @if (Model.Flights == null)
            {
                <p>Заполните параметры поиска в шапке.<br />Фильтры слева в прототипе не работают.</p>
            }
            else
            {
                var flights = Model.Flights.ToList();
                if (flights.Count == 0)
                {
                <p>Не удалось найти подходящего рейса, попробуйте изменить параметры</p>
                }
                else
                {
                    foreach (var flightItem in flights)
                    {
                    <div class="offer-items bg4 b-shd-common">
                        <div class="row">
                            <div class="col-xs-9 col-md-9">
                                <div>
                                    <img src="~/img/aircraft_logo/@(flightItem.AirlineId).png" />
                                </div>
                                <div class="flex-row">
                                    <div class="form-group col-xs-3 col-md-3">
                                        <div class="font-lg">@flightItem.StartingPoint.DateTime.ToShortTimeString()</div>
                                        <div class="font-xs t6">
                                            @flightItem.StartingPoint.City, @flightItem.StartingPoint.Country
                                            <br />
                                            @flightItem.StartingPoint.DateTime.ToShortDateString(), @flightItem.StartingPoint.DateTime.DayOfWeek
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-6 col-md-6">
                                        <div class="flex aircraft-progres">
                                            <span class="aircraft-up">
                                                &#9992;
                                            </span>
                                            <span class="font-xs t6">В пути @(flightItem.StartingPoint.DateTime.Subtract(flightItem.StartingPoint.DateTime))</span>
                                            <span class="aircraft-down">
                                                &#9992;
                                            </span>
                                        </div>
                                        <div class="aircraft-path bg6"></div>
                                    </div>
                                    <div class="form-group col-xs-3 col-md-3">
                                        <div class="font-lg">@flightItem.TermitationPoint.DateTime.ToShortTimeString()</div>
                                        <div class="font-xs t6">
                                            @flightItem.TermitationPoint.City, @flightItem.TermitationPoint.Country
                                            <br />
                                            @flightItem.TermitationPoint.DateTime.ToShortDateString(), @flightItem.TermitationPoint.DateTime.DayOfWeek
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    @flightItem.Name
                                    @flightItem.Returnable
                                    @flightItem.Cancellble
                                    @flightItem.Aircraft.Model
                                    @flightItem.AirlineName
                                    @flightItem.BaggageDimensions
                                    @flightItem.ServiceClass.GetDisplayName()
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="">
                                    <form method="get" action="~/Cashier/AddTicket">
                                        <input type="hidden" value="@flightItem.FlightId" name="FlightId" />
                                        <input type="hidden" value="@flightItem.RateId" name="RateId" />
                                        <button type="submit" class="btn btn-orange offer-buy">@flightItem.Cost<br />Оформить</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                        }
                    }
                }
        </div>
    </div>
</section>