@model Airport.ViewModels.AddTicketViewModel
@using Airport.Handlers;
@using Airport.ViewModels;
@{
    var flight = Model.TicketInfo;
    ViewData["Title"] = "Add Ticket";
}
<section class="add-ticket">
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
            @await Html.PartialAsync("_FlightInfo", flight)

            @using (Html.BeginForm("AddTicket", "Cashier", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.FlightId)

                <div class="bg4 b-shd-common p-3 mb-4">
                    <h5 class="font-md bold">
                        Тариф в одну сторону
                    </h5>
                    <div class="t6">@flight.StartingPoint.City - @flight.TermitationPoint.City</div>
                    <div class="row rate-items pt-3">
                        @foreach (var rate in Model.Rates)
                        {
                            <div class="col-xs-6 col-md-4">
                                <div class="rate-item">
                                    <div class="pb-3 flex-row">
                                        @Html.RadioButtonFor(m => m.RateId, rate.Id, new { @id = "Rate" + rate.Id })
                                        <label for="@("Rate" + rate.Id)" class="mb-0">
                                            <b>@rate.Name</b><br />
                                            <span>@rate.Cost</span>
                                        </label>
                                    </div>

                                    <div class="rate-item-about">
                                        <div class="@(rate.Returnable?"check-true":"check-false")">Возвратный</div>
                                        <div class="@(rate.Cancellble?"check-true":"check-false")">Отменяемый</div>
                                        <div class="check-info">
                                            @rate.BaggageDimensions
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="mb-2">
                    <h5>Пассажир</h5>
                    <div class="form-row">
                        <div class="form-group col-xs-12 col-md-3">
                            @Html.TextBoxFor(m => m.Passenger.Surname, new { placeholder = "Фамилия", @class = "form-control input-md" })
                        </div>
                        <div class="form-group col-xs-12 col-md-3">
                            @Html.TextBoxFor(m => m.Passenger.Name, new { placeholder = "Имя", @class = "form-control input-md" })
                        </div>
                        <div class="form-group col-xs-12 col-md-2">
                            @Html.TextBoxFor(m => m.Passenger.Patronumic, new { placeholder = "Отчество", @class = "form-control input-md" })
                        </div>
                        <div class="form-group col-xs-12 col-md-4">
                            <div class="form-row">
                                <div class="form-group mb-0 col-xs-12 col-md-6">
                                    @Html.DropDownListFor(m => m.Passenger.Gender, new SelectList(Model.Genders, "Value", "Name"), new { @class = "form-control input-md" })
                                </div>
                                <div class="form-group mb-0 col-xs-12 col-md-6">
                                    @Html.DropDownListFor(m => m.Passenger.Age, new SelectList(Model.Ages, "Value", "Name"), new { @class = "form-control input-md" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-3">
                            @Html.TextBoxFor(m => m.Passenger.Citizenship, new { placeholder = "Гражданство", @class = "form-control input-md" })
                        </div>
                        <div class="form-group col-xs-12 col-md-3">
                            @Html.DropDownListFor(m => m.Document.Type, new SelectList(Model.Documents, "Value", "Name"), new { @class = "form-control input-md" })
                        </div>
                        <div class="form-group col-xs-12 col-md-3">
                            @Html.TextBoxFor(m => m.Document.Value, new { placeholder = "0000 000000", @class = "form-control input-md" })
                        </div>
                        <div class="form-group col-xs-12 col-md-3">
                            @Html.TextBoxFor(m => m.Passenger.Birthday, new { type = "date", placeholder = "День рождения", @class = "form-control input-md" })
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            @Html.TextAreaFor(m => m.Passenger.Notes, new { placeholder = "Дополнительно", @class = "form-control input-md" })
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <h5>Контактная информация</h5>
                    <div class="form-row">
                        <div class="form-group col-xs-12 col-md-6">
                            @Html.TextBoxFor(m => m.Passenger.Email, new { type = "email", placeholder = "E-mail", @class = "form-control input-md" })
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            @Html.TextBoxFor(m => m.Passenger.Phone, new { type = "text", placeholder = "79048548745", @class = "form-control input-md" })
                        </div>
                    </div>
                </div>
                <div class="row add-list-footer">
                    <div class="col-xs-12 col-md-12 flex">
                        <a href="javascript:history.back()" class="btn btn-bg btn-white">&#8592; Вернуться к выбору билета</a>
                        <button type="submit" class="btn btn-bg btn-blue">Оформить бронь &#8594;</button>
                    </div>
                </div>
            }

        </div>
    </div>

</section>