@using Airport.Models.AircraftFleet;
@using Airport.Handlers;
@model Airport.ViewModels.SearchViewModel
@{
    ViewData["Title"] = "Search";
}
<section class="main-filter">
    @using (Html.BeginForm("Search", "Cashier", FormMethod.Get, new { @class = "row" }))
    {
        <div class="col-12 col-md-10">
            <div class="form-row">
                <div class="form-group col-12 col-md-3">
                    @Html.TextBoxFor(m => m.FilterMain.StartingPoint, new { placeholder = "Откуда", @class = "form-control input-bg" })
                    @*<input placeholder="Откуда" type="text" class="form-control input-bg" name="StartingPoint" id="StartingPoint">*@
                </div>
                <div class="form-group col-12 col-md-3">
                    @Html.TextBoxFor(m => m.FilterMain.TermitationPoint, new { placeholder = "Куда", @class = "form-control input-bg" })
                    @*<input placeholder="Куда" type="text" class="form-control input-bg" name="TermitationPoint" id="TermitationPoint">*@
                </div>
                <div class="form-group col-12 col-md-3">
                    @Html.TextBoxFor(m => m.FilterMain.Date, new { type = "date", @Value = DateTime.Now.ToShortDateString(), placeholder = "Когда", @class = "form-control input-bg" })
                    @*<input placeholder="Когда" type="date" class="form-control input-bg" name="Date" id="Date">*@
                </div>
                <div class="form-group col-12 col-md-3">
                    @Html.ListBoxFor(m => m.FilterMain.ServiceClass, new SelectList(Model.ServiceClass, "ServiceClassValue", "ServiceClassName", Model.ServiceClass[0].ServiceClassValue), new { @class = "form-control input-bg" })
                    @*<select class="form-control input-bg" name="ServiceClass" id="ServiceClass">
                            @foreach (var enumValue in Enum.GetValues(typeof(ServiceClass)))
                            {
                                <option value="@(enumValue)">
                                    @EnumExtensions.GetDisplayName((ServiceClass)enumValue)
                                </option>
                            }
                        </select>*@

                </div>
            </div>
        </div>
        <div class="form-group button-block col-12 col-md-2">
            <button type="submit" class="btn btn-bg btn-orange">Найти билеты</button>
        </div>
    }
</section>
@await Html.PartialAsync("_Filters", Model)
